@model  EditProductMenuViewModel

@helper selected(string current, string selected)
{
if (current == selected)
{
        @:side-navigation__active
}
}


<div class="edit-page__nav side-navigation pane pane--inline">
    <div class="side-navigation__hero">
        <div class="image-upload-dragover">
            <div class="image-upload-dragover__message"></div>
        </div>
        <img class="side-navigation__hero__content" src="@(Model.Photo)">
    </div>

    <a class="side-navigation__top-level @selected("Artwork Status",(string)Model.menu)" href="/Products/Edit/@Model.id">@UploadRes.Artwork_Status</a>
    @if (Model.Status == ProductStatus.forSale && false)
    {
        <a class="side-navigation__sub-level @selected("Packaging",(string)Model.menu)" href="/Products/EditPackag/@Model.id">@UploadRes.Packaging</a>
        <a class="side-navigation__sub-level @selected("Pricing",(string)Model.menu)" href="/Products/EditPricing/@Model.id">@UploadRes.Pricing</a>
    }
    <a class="side-navigation__top-level @selected("Artwork Details",(string)Model.menu)" href="/Products/Editdetail/@Model.id">@UploadRes.ArtworkDetail</a>
    <a class="side-navigation__top-level @selected("Description",(string)Model.menu)" href="/Products/EditDescription/@Model.id">@UploadRes.description</a>
    @*  <a class="side-navigation__top-level @selected("Prints Status",(string)Model.menu)" href="">Prints Status</a>
        <a class="side-navigation__top-level @selected("Artwork Image",(string)Model.menu)" href="">Artwork Image</a>*@
    <div>
        <button type="submit" class="button button--blue">@UploadRes.SaveChanges</button>
    </div>
</div>
