
@{

}

@model  List<Product>

<div role="main" class="row row-layout browse-content">
    <header class="small-12 columns" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="small-12 columns breadcrumbs">
                <a href="/">@ShareRes.Home</a><a href="/search/">Paintings</a><span>Fine Art</span>
            </div>
        </div>
    </header>
    <div class="clear"></div>
    <form action="/search" method="get">
        <div class="row filters-main" style="padding: 20px 20px 0;margin-bottom:10px">
            <div class="small-6 medium-2 columns">
                <select name="category" id="selectCategory" class="filter-options">
                    <option value="all">@SearchRes.All_Categories</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Categories)
                    {
                        <option value="@item.id">
                            @item.name
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <select name="style" id="selectStyle" class="filter-options">
                    <option value="">@SearchRes.All_Styles</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Styles)
                    {
                        <option value="@item.Key">
                            @item.Value
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <select name="subject" id="selectSubject" class="filter-options">
                    <option value="">@SearchRes.All_Subjects</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Subjects)
                    {
                        <option value="@item.Key">
                            @item.Value
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <select name="medium" id="selectMedium" class="filter-options">
                    <option value="">@SearchRes.All_Mediums</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Mediums)
                    {
                        <option value="@item.Key">
                            @item.Value
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <select name="price" id="selectPrice" class="filter-options">
                    <option value="">@SearchRes.All_Prices</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Pricethresholds)
                    {
                        <option value="@item.Id">
                            @item.Name
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <button class="btn btn-info btn-block">@SearchRes.Search <i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
    <div class="clear"></div>

    <ul class="item-list masonry">
        @foreach (var item in Model)
            {
            <li itemscope itemtype="http://schema.org/CreativeWork" class="art-item fast-fade ">
                <div class="list-art-image" itemscope itemtype="http://schema.org/ImageObject">
                    <div class="list-art-image-wrapper">
                        <a href="/products/single/@item.Id" itemprop="url">
                            <img src="@item.photo.Path">
                        </a>

                    </div>
                    <div class="item-controls">
                        <a href="#" class="btn-round btn-add-to-cart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <a href="#" class="btn-round btn-favorite" title="Add to Favorites">
                            <i class="fa fa-heart"></i>
                        </a>
                        <a href="#" class="btn-round btn-add-to-collection hide-for-small-down" title="Add to Collection">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <div class="list-art-meta">
                        <h4 class="list-art-title left ellipsis" itemprop="name">
                            <a href="/products/single/@item.Id">@item.Title</a>
                        </h4>
                        <small class="art-category clear left">Painting, <span>@item.Height  H</span> x <span> @item.Width  W</span> x <span> @item.Depth </span> in</small>

                        <div class="list-author clear left">
                            <h5 class="artist-name left ellipsis" itemprop="creator" itemscope itemtype="http://schema.org/Person">
                                <a href="/products/single/@item.Id" class="artist-card" title="Profile page for Terri Dilling" itemprop="url">@item.user.FirstName  @item.user.LastName</a>
                            </h5>
                            <h5 class="user-location ellipsis clear" itemprop="contentLocation">United States</h5>
                        </div>

                        <div class="list-art-price">
                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <!-- internationalization testing -->
                                <div itemprop="price">
                                    $@item.Price
                                </div>
                            </div>
                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <!-- internationalization testing -->
                                <div class="sample-print-price" itemprop="price">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        }
    </ul>
    <div class="clearfix"></div>

    <div class="so-pagination">
        <div class="pagination">
            <ul class="pull-right">
                <li class="active"><a href="javascript: void(0);">1</a></li>
                <li>
                    <a href="">2</a>
                </li>
                <li>
                    <a href="">3</a>
                </li>
                <li>
                    <a href="">4</a>
                </li>
                <li>
                    <a href="">5</a>
                </li>
                <li>
                    <a href="">6</a>
                </li>
                <li><a href=""><i class="fa fa-angle-right"></i></a></li>

                <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
            <div class="so-pagination-count pull-right">
                <small>Showing 1 - 24   of 153305  </small>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

<script src="~/Content/fullview.js"></script>

<script>
    Saatchi.Loader.load('hslpicker', { js: true });
    Saatchi.Loader.load('browse', { js: true }, function () {
        Saatchi.Browse.init();
    });
    Saatchi.Loader.load('fullview', { js: true }, function () {
        Saatchi.Fullview.init();
        Saatchi.Fullview.SetView.init();
        Saatchi.Fullview.FullScreen.init();
    });
    Saatchi.Loader.load('favorite', { js: true }, function () {
        Saatchi.Favorite.init();
    });

    $('.joyride-tip-guide').delay(5000).fadeOut('slow');

    var observer;
    // stop observing
    if (observer) {
        observer.disconnect();
    }

</script>