
@{

}

@model  List<Product>


@helper selected(int current, int selected)
{
if (current == selected)
{
        @:selected
}
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 2000; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        -webkit-animation-name: fadeIn; /* Fade in the background */
        -webkit-animation-duration: 0.4s;
        animation-name: fadeIn;
        animation-duration: 0.4s;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    @@-webkit-keyframes slideIn {
        from {
            bottom: -300px;
            opacity: 0;
        }

        to {
            bottom: 0;
            opacity: 1;
        }
    }

    @@keyframes slideIn {
        from {
            bottom: -300px;
            opacity: 0;
        }

        to {
            bottom: 0;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @@keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>

<div role="main" class="row row-layout browse-content">
    <header class="small-12 columns" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="small-12 columns breadcrumbs">
                <a href="/">@ShareRes.Home</a><a href="/search/@ViewBag.categoryId">@ViewBag.categoryName</a>
                <span>
                    @if (ViewBag.styleId != 0)
                    {
                        <text>  @ViewBag.styleName </text>
                    }
                    @if (ViewBag.subjectId != 0)
                    {
                        <text> @ViewBag.subjectName </text>
                    }
                    @if (ViewBag.mediumId != 0)
                    {
                        <text>  @ViewBag.mediumName </text>
                    }
                    @if (ViewBag.priceId != 0)
                    {
                        <text>  @ViewBag.priceName </text>
                    }
                </span>
            </div>
        </div>
    </header>
    <div class="clear"></div>
    <form action="/search" method="get">
        <div class="row filters-main" style="padding: 20px 20px 0;margin-bottom:10px">
            <div class="small-6 medium-2 columns">
                <select name="category" id="selectCategory" class="filter-options">
                    <option value="0">@SearchRes.All_Categories</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Categories)
                    {
                        <option @selected(item.id, ViewBag.categoryId) value="@item.id">
                            @item.name
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <select name="style" id="selectStyle" class="filter-options">
                    <option value="0">@SearchRes.All_Styles</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Styles)
                    {
                        <option @selected(item.Key, ViewBag.styleId) value="@item.Key">
                            @item.Value
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <select name="subject" id="selectSubject" class="filter-options">
                    <option value="0">@SearchRes.All_Subjects</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Subjects)
                    {
                        <option @selected(item.Key, ViewBag.subjectId) value="@item.Key">
                            @item.Value
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <select name="medium" id="selectMedium" class="filter-options">
                    <option value="0">@SearchRes.All_Mediums</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Mediums)
                    {
                        <option @selected(item.Key, ViewBag.mediumId) value="@item.Key">
                            @item.Value
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <select name="price" id="selectPrice" class="filter-options">
                    <option value="0">@SearchRes.All_Prices</option>
                    @foreach (var item in ArtShop.Util.CashManager.Instance.Pricethresholds)
                    {
                        <option @selected(item.Id, ViewBag.priceId) value="@item.Id">
                            @item.Name
                        </option>
                    }
                </select>
            </div>
            <div class="small-6 medium-2 columns">
                <button class="btn btn-info btn-block">@SearchRes.Search <i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
    <div class="clear"></div>

    <ul class="item-list masonry">
        @foreach (var item in Model)
        {
            <li itemscope itemtype="http://schema.org/CreativeWork" class="art-item fast-fade ">
                <div class="list-art-image" itemscope itemtype="http://schema.org/ImageObject">
                    <div class="list-art-image-wrapper">
                        <a href="/products/single/@item.Id" itemprop="url">
                            <img src="@item.photo.Path">
                        </a>

                    </div>
                    <div class="item-controls">
                        <a href="#" class="btn-round btn-add-to-cart" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <a href="#" class="btn-round btn-favorite" title="Add to Favorites">
                            <i class="fa fa-heart"></i>
                        </a>
                        <a onclick="addcollect(@item.Id)" class="btn-round btn-add-to-collection hide-for-small-down" title="Add to Collection">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <div class="list-art-meta">
                        <h4 class="list-art-title left ellipsis" itemprop="name">
                            <a href="/products/single/@item.Id">@item.Title</a>
                        </h4>
                        <small class="art-category clear left">Painting, <span>@item.Height  H</span> x <span> @item.Width  W</span> x <span> @item.Depth </span> in</small>

                        <div class="list-author clear left">
                            <h5 class="artist-name left ellipsis" itemprop="creator" itemscope itemtype="http://schema.org/Person">
                                <a href="/products/single/@item.Id" class="artist-card" title="Profile page for Terri Dilling" itemprop="url">@item.user.FirstName  @item.user.LastName</a>
                            </h5>
                            <h5 class="user-location ellipsis clear" itemprop="contentLocation">United States</h5>
                        </div>

                        <div class="list-art-price">
                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <!-- internationalization testing -->
                                <div itemprop="price">
                                    $@item.Price
                                </div>
                            </div>
                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <!-- internationalization testing -->
                                <div class="sample-print-price" itemprop="price">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        }
    </ul>
    <div class="clearfix"></div>


    @{
        int page = ViewBag.page;
        int count = ViewBag.count;
        int pageSize = ViewBag.pageSize;
        bool haveNext = page * pageSize < count;
        bool havePrev = page != 1;
        int minpage = 1;
        int maxpage = (int)Math.Ceiling((float)count / (float)pageSize);
    }

    <div class="so-pagination">
        <div class="pagination">
            <ul class="pull-right">
                @if (havePrev)
                {
                    <li><a href="/search/@ViewBag.categoryId/@ViewBag.styleId/@ViewBag.subjectId/@ViewBag.mediumId/@ViewBag.priceId/@(page-1)"><i class="fa fa-angle-left"></i></a></li>
                }

                @for (int i = page - 1; i >= minpage && Math.Abs(i - page) < 3; i--)
                {
                    <li>
                        <a href="/search/@ViewBag.categoryId/@ViewBag.styleId/@ViewBag.subjectId/@ViewBag.mediumId/@ViewBag.priceId/@i">@i</a>
                    </li>
                }

                <li class="active">
                    <a>@page</a>
                </li>

                @for (int i = page + 1; i <= maxpage && Math.Abs(i - page) < 3; i++)
                {
                    <li>
                        <a href="/search/@ViewBag.categoryId/@ViewBag.styleId/@ViewBag.subjectId/@ViewBag.mediumId/@ViewBag.priceId/@i">@i</a>
                    </li>
                }


                @if (haveNext)
                {
                    <li><a href="/search/@ViewBag.categoryId/@ViewBag.styleId/@ViewBag.subjectId/@ViewBag.mediumId/@ViewBag.priceId/@(page+1)"><i class="fa fa-angle-right"></i></a></li>
                }

                @*<li><a href=""><i class="fa fa-angle-double-right"></i></a></li>*@
            </ul>
            <div class="so-pagination-count pull-right">
                <small>Showing @(((page - 1) * pageSize) + 1) - @(Math.Min(((page - 1) * pageSize) + pageSize, count)) of @count  </small>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>
</div>

<script src="~/Content/fullview.js"></script>

<script>
    Saatchi.Loader.load('hslpicker', { js: true });
    Saatchi.Loader.load('browse', { js: true }, function () {
        Saatchi.Browse.init();
    });
    Saatchi.Loader.load('fullview', { js: true }, function () {
        Saatchi.Fullview.init();
        Saatchi.Fullview.SetView.init();
        Saatchi.Fullview.FullScreen.init();
    });
    Saatchi.Loader.load('favorite', { js: true }, function () {
        Saatchi.Favorite.init();
    });

    $('.joyride-tip-guide').delay(5000).fadeOut('slow');

    var observer;
    // stop observing
    if (observer) {
        observer.disconnect();
    }

</script>

@section scripts{
    <script>

        function addcollect(id) {
            modal.style.display = "block";
        }

        var modal = document.getElementById('myModal');
        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

}
