
@model Product

@*<script src="~/Content/2220741194.js"></script>

    <script>
        !function (a) { "use strict"; var b = function (a, c) { var d = /[^\w\-\.:]/.test(a) ? new Function(b.arg + ",tmpl", "var _e=tmpl.encode" + b.helper + ",_s='" + a.replace(b.regexp, b.func) + "';return _s;") : b.cache[a] = b.cache[a] || b(b.load(a)); return c ? d(c, b) : function (a) { return d(a, b) } }; b.cache = {}, b.load = function (a) { return document.getElementById(a).innerHTML }, b.regexp = /([\s'\\])(?!(?:[^{]|\{(?!%))*%\})|(?:\{%(=|#)([\s\S]+?)%\})|(\{%)|(%\})/g, b.func = function (a, b, c, d, e, f) { return b ? { "\n": "\\n", "\r": "\\r", "	": "\\t", " ": " " }[b] || "\\" + b : c ? "=" === c ? "'+_e(" + d + ")+'" : "'+(" + d + "==null?'':" + d + ")+'" : e ? "';" : f ? "_s+='" : void 0 }, b.encReg = /[<>&"'\x00]/g, b.encMap = { "<": "&lt;", ">": "&gt;", "&": "&amp;", '"': "&quot;", "'": "&#39;" }, b.encode = function (a) { return (null == a ? "" : "" + a).replace(b.encReg, function (a) { return b.encMap[a] || "" }) }, b.arg = "o", b.helper = ",print=function(s,e){_s+=e?(s==null?'':s):_e(s);},include=function(s,d){_s+=tmpl(s,d);}", "function" == typeof define && define.amd ? define(function () { return b }) : a.tmpl = b }(this);
    </script>*@


<style>
    .artwithpic {
        background-image: url("/content/view_in_room_plant.jpg");
        background-repeat: no-repeat;
        background-color: transparent;
    }

    .artwhitprint {
        background-image: url("/content/view_in_room_couch_plant.jpg");
        background-repeat: no-repeat;
        background-color: transparent;
    }
</style>

<div class="row-layout content">

    <article class="art-detail">

        <div role="main" class="row">
            <header class="row">
                <div class="small-1 columns">
                    <i class="icn-artist-location flag-us so-quick-tip" title="United States"></i>
                </div>
                <div class="small-11 columns">
                    <div class="row author-title">
                        <h1>
                            <a href="">
                                <span itemprop="name">@Model.Title</span>
                                <span itemprop="category">Painting</span>
                                by
                                <span itemprop="creator">@Model.user.FirstName @Model.user.LastName</span>
                            </a>
                        </h1>
                    </div>
                    <div class="row">
                        <div class="small-12 columns breadcrumbs">
                            <a href="#" rel="nofollow">Browse Art</a> <a href="#">Painting</a>  <a href="#">@Model.user.LastName</a> @Model.Title
                        </div>
                    </div>
                </div>
            </header>
            <div class="row art-detail-body" id="bodmain">
                <div class="small-12 large-8 columns pr">
                    <ul class="small-12 large-8 columns art-detail-image" data-orbit
                        data-options="animation:fade;
                      pause_on_hover:false;
                      next_on_click:false;
                      animation_speed:0;
                      navigation_arrows:false;
                      bullets:false;
                      slide_number:false;
                      swipe:true;
                      timer:false;
                      variable_height:true;">
                        <li id="theArtwork" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="selector-item" data-orbit-slide="slide-1">
                            <img src="@Model.photo.Path" id="mainmage" itemprop="image">
                            <div class="art-image-actions">
                                <a class="view-in-a-room btn art-image-actions__button" onclick="view_in_room()" title="View in a Room">
                                    <i id="viewroombtnicon" class="icn-view-in-a-room"></i>
                                    <span id="viewroombtntxt">View in a Room</span>
                                </a>

                                <a class="fullscreen btn art-image-actions__button" rel="nofollow" href="#" title="View Fullscreen">
                                    <i class="fa fa-expand"></i>
                                    <span>View Fullscreen</span>
                                </a>
                                <a href="#" rel="nofollow" data-favorite="false" data-user="" data-id="2753139" title="Add to Favorites" class="sa-add-to-favorites btn art-image-actions__button">
                                    <i class="fa fa-heart"></i>
                                    <span>Add to Favorites</span>
                                </a>
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- /share module -->
                <div class="small-12 large-4 columns art-detail-description">
                    <div id="productTabs" class="row tab-two">
                        <div id="orginalTabTitle" class="small-6 columns active">
                            <a onclick="changetab(0);" class="tab-original" title="Original">Original</a>
                        </div>
                        <div id="printTabTitle" class="small-6 columns">
                            <a onclick="changetab(1);" class="tab-prints" title="Prints">Prints</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 medium-6 large-12 columns art-meta">
                            <h3 itemprop="name" class="title">@Model.Title</h3>
                            <p itemprop="creator" itemscope="" itemtype="http://schema.org/Person">
                                <a href="#" itemprop="url">@Model.user.FirstName @Model.user.LastName</a><br>
                                <span itemprop="nationality">United States</span>
                            </p>
                            <p class="category-size">
                                Painting<br>
                                Size: <span>@Model.Height  H</span> x <span> @Model.Width  W</span> x <span> @Model.Depth </span> in
                            </p>
                            <p class="packaging-info">
                                Ships in a crate
                            </p>
                        </div>
                    </div>
                    <div id="original" class="row art-detail-original">
                        <div class="small-12 medium-6 large-12 columns">
                            <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="art-detail-ribbon">
                                <div class="clearfix">
                                    <span class="price" itemprop="price">
                                        $@Model.Price
                                    </span>
                                    <a id="addOriginal" href="#" itemscope="url" class="button" rel="nofollow">Add&nbsp;to&nbsp;Cart</a>
                                </div>
                            </div>
                            <div class="art-detail__value-props">
                                <div><i class="fa fa-check" aria-hidden="true"></i> Shipping included</div>
                                <div>
                                    <i class="fa fa-check" aria-hidden="true"></i> 7-day money back guarantee
                                </div>
                                <div>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    Trustpilot Score
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="prints" class="row art-detail-prints hidden">
                        <div class="small-12 medium-6 large-12 columns">

                            <div class="buy-prints">
                                <h4>
                                    Open Edition<sup>
                                    </sup> Prints Available:
                                </h4>
                                <div>
                                    <h5>1. Select a Material</h5>
                                    <select id="selectMaterial" class="print-options" style="background:white">
                                        <option value="">Choose from List</option>
                                        <option value="rag_print">Fine Art Paper</option>
                                    </select>
                                </div>
                                <div class="photo-print hidden">
                                </div>
                                <div class="rag-print hidden">
                                    <div>
                                        <h5>2. Select a Size</h5>
                                        <select id="rag-selectSize" style="background:white" class="print-options product-select">
                                            <option value="" data-width="" data-height="">Choose from List</option>
                                            <option value="" data-width="14" data-height="21">14 x 21</option>
                                            <option value="" data-width="16" data-height="24">16 x 24</option>
                                            <option value="" data-width="20" data-height="30">20 x 30</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="canvas-print hidden">
                                </div>
                                <div class="no-frame hidden">
                                    <div class="selected-frame pull-left">
                                        <i class="icon-frame"></i> No frame available for selected size.
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="select-frame hidden">
                                    <h5>3. Add a Frame</h5>
                                    <select id="selectFrame" class="print-options" style="background:white">
                                        <option value="">Choose from List</option>
                                    </select>
                                    <div class="clearfix"></div>
                                </div>
                                <script type="text/x-tmpl" id="tmpl-frameOptions">
                                    <option class="select-frame"
                                            data-description="{%=o.description%}"
                                            data-frame_price="{%=o.frame_price%}"
                                            data-framing_type_id="{%=o.framing_type_id%}"
                                            data-label="{%=o.label%}"
                                            data-total_price="{%=o.total_price%}"
                                            value="F{%=o.framing_type_id%}">
                                        <label>{%=o.label%}</label>
                                        <span class="price-frame pull-right">
                                            ({%=o.frame_price%})
                                        </span>
                                    </option>
                                </script>
                                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="art-detail-ribbon">
                                    <div class="clearfix">
                                        <span class="price" itemprop="price">
                                            <span class="so-subtotal-price">
                                                -
                                            </span>
                                        </span>
                                        <a class="so-art-buy btn btn-success pull-right disabled" href="#" data-type="" style="color: #fff;">Add To Cart</a>
                                    </div>
                                </div>
                                <div class="art-detail__value-props">

                                    <div>
                                        <i class="fa fa-check" aria-hidden="true"></i> 7-day money back guarantee
                                        <a href="https://support.saatchiart.com/hc/en-us/sections/200720108" data-color="blue" class="so-more-tip"
                                           onclick="window.open($(this).attr('href'), '_blank');" rel="nofollow"><i class="fa fa-info-circle"></i></a>
                                        <span style="display:none;">
                                            <span class="float-left-margin">
                                                <img src="../../../../../d3t95n9c6zzriw.cloudfront.net/common/7-day-money-back.png" width="75" nopin="nopin">
                                            </span>
                                            <span>
                                                We offer a 7-day money-back guarantee on all works purchased through Saatchi Art, except for limited
                                                editions printed specially for you. Framed prints cannot be refunded nor&nbsp;exchanged.
                                            </span>
                                        </span>
                                    </div>
                                    <div>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        Trustpilot Score
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="view-room-fav-stats">
                            <div class="art-detail-stats">
                                <ul class="inline-list">
                                    <li>
                                        0<br>
                                        <span>Views</span>
                                    </li>
                                    <li>
                                        <div id="favoriteCount">0</div>
                                        <span>Favorites</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <section itemprop="description" class="description">
                <div class="row">
                    <div class="small-12 columns">
                        <h3 class="section-title">Art Description</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <p>
                            Painting:
                            <span>Acrylic, Ink, Watercolor and charcoal</span>
                            on
                            <span>Wood</span>.
                        </p>
                        <p>
                            @Model.Description
                        </p>
                        <p>
                            Keywords: @Model.Keywords
                        </p>

                    </div>
                </div>
            </section>


        </div>
    </article>

    <!-- Local scripts -->
    @*<script src="~/Content/dropzone.js"></script>
        <script src="~/Content/Sortable.js"></script>
        <script src="~/Content/singleproduct2.js"></script>*@

    <script>
        //custom initializer
        Dropzone.options.myDropzone = false;
        Saatchi.Loader.load('art', { 'js': true }, function () {
            Saatchi.Art.artist = 350113;
            Saatchi.Art.art = 2562949;
            Saatchi.Art.id_user_art = 2753139;
            Saatchi.Art.imgHostUri = 'saimg-a.akamaihd.net';
            Saatchi.Art.safe = false;
            Saatchi.Art.original = true;
            Saatchi.Art.prints = true;
            Saatchi.Art.product = { "sku": "P1-U350113-A2562949", "title": "GERMINATION", "price": 6200, "category": "Painting" };
            var art = $('.art-detail-image img');
            art.imagesLoaded(function () {
                art.data({
                    width: art.width(),
                    height: art.height()
                });
            });
            Saatchi.Art.ViewRoom.unitOfMeasure = 'INCH';
            Saatchi.Art.ViewRoom.Original.data = { "height": 60, "width": 48, "img": "\/\/saimg-a.akamaihd.net\/saatchi\/350113\/art\/2753139\/1823032-DRGDCICN-6.jpg", "type": "Painting" };
            Saatchi.Art.Fullscreen.image = '../../../../../saimg-a.akamaihd.net/saatchi/350113/art/2753139/1823032-DRGDCICN-8.jpg';
            Saatchi.Art.additionalImages = [];
            Saatchi.Art.init();
        });

        Saatchi.Loader.load('sticky-nav', { 'js': true }, function () {
            if (window.ENABLE_STICKY_NAV) {
                Saatchi.StickyNav.init();
            }
        });

        $('.print-options').select2({
            minimumResultsForSearch: -1
        });


        $('body').bind('contextmenu', function (e) {
            $('body').trigger("click");
            return false;
        });
    </script>

    <div class="clearfix"></div>
</div>

<div id="mframe" hidden style="background-color: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 3px; position: absolute; z-index: 1; height: 97px; width: 81px; left: 406.5px; top: 503.563px;"></div>

<script>

    function changetab(tab) {
        if (tab == 0) {
            $('#orginalTabTitle').addClass('active');
            $('#printTabTitle').removeClass('active');
            $('#original').removeClass('hidden');
            $('#prints').addClass('hidden');

        } else if (tab == 1) {
            $('#orginalTabTitle').removeClass('active');
            $('#printTabTitle').addClass('active');
            $('#original').addClass('hidden');
            $('#prints').removeClass('hidden');
        }
    }

    var view_in_room_active = false;
    var fullwith = 0;
    function view_in_room() {
        if (fullwith == 0 && view_in_room_active == false)
            fullwith = $('#mainmage').width();
        if (view_in_room_active) {
            $('#bodmain').removeClass('artwithpic');
            $('.art-detail-description').css('min-height', '943px');
            $('#viewroombtnicon').addClass('icn-view-in-a-room');
            $('#viewroombtnicon').removeClass('fa fa-arrow-left');
            $('#viewroombtntxt').html('View in a Room');
            $('#mainmage').css('box-shadow', '');
            $('#mainmage').animate({
                width: fullwith,
                marginTop: "0"
            }, 1500);
            view_in_room_active = false;
        } else {
            $('#bodmain').addClass('artwithpic');
            $('.art-detail-description').css('min-height', '770px');
            $('#viewroombtnicon').removeClass('icn-view-in-a-room');
            $('#viewroombtnicon').addClass('fa fa-arrow-left');
            $('#viewroombtntxt').html('Back to Artwork');
            $('#mainmage').css('box-shadow', 'rgba(0, 0, 0, 0.1) 2px 2px 3px');
            $('#mainmage').animate({
                width: "314px",
                marginTop: "144px"
            }, 1500);
            view_in_room_active = true;
        }
    }

    var paperdiv = $('.rag-print');
    var framediv = $('.select-frame');

    $('#selectMaterial').change(function () {
        paperdiv.removeClass('hidden');
        framediv.removeClass('hidden');
        var val = this.value;
    });

    $('#rag-selectSize').change(function () {
        var val = this.value;
        var nwidth = $(this).find(':selected').data('width');
        var nheight = $(this).find(':selected').data('height');
        print_sate(true, nwidth, nheight);
    });

    function print_sate(isenable, paper_width, paper_height) {
        if (fullwith == 0 && isenable == true)
            fullwith = $('#mainmage').width();
        if (isenable) {
            $('#bodmain').removeClass('artwithpic');
            $('#bodmain').addClass('artwhitprint');
            $('.art-detail-description').css('min-height', 'auto');
            $('#mainmage').css('box-shadow', 'rgba(0, 0, 0, 0.1) 2px 2px 3px');
            $('#mainmage').css('background', 'rgb(255, 255, 255)');
            $('#mainmage').css('border', '1px solid rgb(235, 235, 235)');
            $('#mainmage').css('display', 'inline-block');
            var top = 367 - Math.ceil(paper_height * 8.23);
            var w = paper_width * 8.23;
            $('#mainmage').animate({
                width: w,
                marginTop: top
            }, 750);
        } else {

        }
    }
</script>