
@model Product

<style>
    .artwithpic {
        background-image: url("/content/view_in_room_plant.jpg");
        background-repeat: no-repeat;
        background-color: transparent;
    }

    .artwhitprint {
        background-image: url("/content/view_in_room_couch_plant.jpg");
        background-repeat: no-repeat;
        background-color: transparent;
    }
</style>

<style>
    .tab-two .active a {
        background: rgba(0, 0, 0, 0.00);
        color: white;
        border-bottom: 10px solid rgba(0, 0, 0, 0.00);
    }

        .tab-two .active a:hover {
            background-color: rgba(0, 0, 0, 0.10);
            border-bottom: 10px solid rgba(0, 0, 0, 0.00);
        }

    .art-detail-ribbon:after {
        content: "";
        position: absolute;
        display: none;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.00) transparent transparent #000;
        border-width: 0px;
        bottom: 0rem;
        right: 0;
    }

    .art-detail-original {
        padding: 0 0px;
    }

    .art-detail__value-props {
        padding: 0 20px;
    }

    .tab-two div:first-child a {
        border-left: 0;
        border-right: 10px solid rgba(255, 255, 255, 0.00);
    }

    .tab-two div:last-child a {
        border-left: 10px solid rgba(255, 255, 255, 0.00);
    }

    .tab-two a {
        background-color: rgba(245, 245, 245, 0.75);
        border-bottom: 10px solid rgba(255, 255, 255, 0.00);
    }

    .tab-two div:first-child.active a {
        border-left: 0;
        border-right: 10px solid rgba(255, 255, 255, 0.00);
        z-index: 9;
    }

    .tab-two div:last-child.active a {
        border-left: 10px solid rgba(255, 255, 255, 0.00);
        margin-right: 0;
    }
</style>

<div class="row-layout content">

    <article class="art-detail">

        <div role="main" class="row">
            <header class="row" style="">
                <div class="small-1 columns">
                    @if (Model.user.country != null)
                    {
                        <i class="icn-artist-location flag-@Model.user.country.Code so-quick-tip" title="United States"></i>
                    }
                </div>
                <div class="small-11 columns">
                    <div class="row author-title">
                        <h1>
                            <a href="">
                                <span itemprop="name">@Model.Title</span>
                                <span itemprop="category">Painting</span>
                                by
                                <span itemprop="creator">@Model.user.FirstName @Model.user.LastName</span>
                            </a>
                        </h1>
                    </div>
                    <div class="row">
                        <div class="small-12 columns breadcrumbs">
                            <a href="#" rel="nofollow">Browse Art</a> <a href="#">Painting</a>  <a href="#">@Model.user.LastName</a> @Model.Title
                        </div>
                    </div>
                </div>
            </header>
            <div class="row art-detail-body" id="bodmain">
                <div class="small-12 large-8 columns pr">
                    <ul class="small-12 large-8 columns art-detail-image" data-orbit
                        data-options="animation:fade;
                      pause_on_hover:false;
                      next_on_click:false;
                      animation_speed:0;
                      navigation_arrows:false;
                      bullets:false;
                      slide_number:false;
                      swipe:true;
                      timer:false;
                      variable_height:true;">
                        <li id="theArtwork" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" class="selector-item" data-orbit-slide="slide-1">
                            <img src="@Model.photo.Path" id="mainmage" itemprop="image">
                            <div class="art-image-actions">
                                <a class="view-in-a-room btn art-image-actions__button" onclick="view_in_room()" title="View in a Room">
                                    <i id="viewroombtnicon" class="icn-view-in-a-room"></i>
                                    <span id="viewroombtntxt">View in a Room</span>
                                </a>

                                <a class="fullscreen btn art-image-actions__button" rel="nofollow" href="@Model.photo.Path" title="View Fullscreen">
                                    <i class="fa fa-expand"></i>
                                    <span>View Fullscreen</span>
                                </a>

                                <a onclick="addfavsingle(this,@Model.Id)" class="sa-add-to-favorites btn art-image-actions__button">
                                    <i class="fa fa-heart"></i> <span>Add to Favorites</span>
                                </a>
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- /share module -->
                <div class="small-12 large-4 columns art-detail-description" style="background: rgba(0, 0, 0, 0.51);color:white;">
                    <div id="productTabs" class="row tab-two">
                        <div id="orginalTabTitle" class="small-6 columns active">
                            <a onclick="changetab(0);" class="tab-original" title="Original">Original</a>
                        </div>
                        <div id="printTabTitle" class="small-6 columns">
                            <a onclick="changetab(1);" class="tab-prints" title="Prints">Prints</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 medium-6 large-12 columns art-meta">
                            <h3 itemprop="name" class="title">@Model.Title</h3>
                            <p itemprop="creator" itemscope="" itemtype="http://schema.org/Person">
                                <a href="#" itemprop="url">@Model.user.FirstName @Model.user.LastName</a><br>
                                <span itemprop="nationality">United States</span>
                            </p>
                            <p class="category-size">
                                Painting<br>
                                Size: <span>@Model.Height  H</span> x <span> @Model.Width  W</span> x <span> @Model.Depth </span> in
                            </p>
                            <p class="packaging-info">
                                Ships in a crate
                            </p>
                        </div>
                    </div>
                    <div id="original" class="row art-detail-original">
                        <div class="small-12 medium-6 large-12 columns">

                            <div class="art-detail__value-props">
                                <div><i class="fa fa-check" aria-hidden="true"></i> Shipping included</div>
                                <div>
                                    <i class="fa fa-check" aria-hidden="true"></i> 7-day money back guarantee
                                </div>
                                <div>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    Trustpilot Score
                                </div>
                            </div>
                            <div style="width:inherit" class="art-detail-ribbon">
                                <div class="clearfix">
                                    <span class="price" itemprop="price">
                                        $@Model.Price
                                    </span>
                                    <a id="addOriginal" href="/Card/AddToCart?id=@Model.Id&type=@((int)Ordertype.Orginal)" itemscope="url" class="button" rel="nofollow">Add&nbsp;to&nbsp;Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="prints" class="row art-detail-prints hidden">
                        <div class="small-12 medium-6 large-12 columns">

                            <div class="buy-prints">
                                <h4>
                                    Open Edition<sup>
                                    </sup> Prints Available:
                                </h4>
                                <div>
                                    <h5>1. Select a Material</h5>
                                    <select id="selectMaterial" class="print-options" style="background:white">
                                        <option value="">Choose from List</option>
                                        <option value="rag_print">Fine Art Paper</option>
                                    </select>
                                </div>
                                <div class="photo-print hidden">
                                </div>
                                <div class="rag-print hidden">
                                    <div>
                                        <h5>2. Select a Size</h5>
                                        <select id="rag-selectSize" style="background:white" class="print-options product-select">
                                            <option value="" data-width="" data-height="">Choose from List</option>
                                            <option value="1" data-width="14" data-height="21" data-frames='[{"color":"#fff","size":"1","val":"1","desc":"white"},{"color":"#333","size":"1","val":"1","desc":"black"}]'>14 x 21</option>
                                            <option value="2" data-width="16" data-height="24" data-frames='[{"color":"#fff","size":"1","val":"1","desc":"white"},{"color":"#333","size":"1","val":"1","desc":"black"}]'>16 x 24</option>
                                            <option value="3" data-width="20" data-height="30" data-frames='[{"color":"#fff","size":"1","val":"1","desc":"white"},{"color":"#333","size":"1","val":"1","desc":"black"}]'>20 x 30</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="canvas-print hidden">
                                </div>
                                <div class="no-frame hidden">
                                    <div class="selected-frame pull-left">
                                        <i class="icon-frame"></i> No frame available for selected size.
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="select-frame hidden">
                                    <h5>3. Add a Frame</h5>
                                    <select id="selectFrame" class="print-options" style="background:white">
                                        <option value="">Choose from List</option>
                                    </select>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="art-detail__value-props">

                                    <div>
                                        <i class="fa fa-check" aria-hidden="true"></i> 7-day money back guarantee
                                        <a href="https://support.saatchiart.com/hc/en-us/sections/200720108" data-color="blue" class="so-more-tip"
                                           onclick="window.open($(this).attr('href'), '_blank');" rel="nofollow"><i class="fa fa-info-circle"></i></a>
                                        <span style="display:none;">
                                            <span class="float-left-margin">
                                                <img src="../../../../../d3t95n9c6zzriw.cloudfront.net/common/7-day-money-back.png" width="75" nopin="nopin">
                                            </span>
                                            <span>
                                                We offer a 7-day money-back guarantee on all works purchased through Saatchi Art, except for limited
                                                editions printed specially for you. Framed prints cannot be refunded nor&nbsp;exchanged.
                                            </span>
                                        </span>
                                    </div>
                                    <div>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        Trustpilot Score
                                    </div>
                                </div>

                                <div itemprop="offers" style="width:inherit;margin:0px -20px" class="art-detail-ribbon">
                                    <div class="clearfix">
                                        <span class="price" itemprop="price">
                                            <span class="so-subtotal-price">
                                                -
                                            </span>
                                        </span>
                                        <a class="so-art-buy btn btn-success pull-right disabled" data-type="" style="color: #fff;">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="row ">
                            <div class="view-room-fav-stats">
                                <div class="art-detail-stats">
                                    <ul class="inline-list">
                                        <li>
                                            0<br>
                                            <span>Views</span>
                                        </li>
                                        <li>
                                            <div id="favoriteCount">0</div>
                                            <span>Favorites</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>*@

                </div>
            </div>
            <section itemprop="description" class="description">
                <div class="row">
                    <div class="small-12 columns">
                        <h3 class="section-title">Art Description</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <p>
                            Painting:
                            <span>Acrylic, Ink, Watercolor and charcoal</span>
                            on
                            <span>Wood</span>.
                        </p>
                        <p>
                            @Model.Description
                        </p>
                        <p>
                            Keywords: @Model.Keywords
                        </p>

                    </div>
                </div>
            </section>


        </div>
    </article>

    <div class="clearfix"></div>
</div>

<div id="mframe" hidden style="box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 3px; position: absolute; z-index: 1;"></div>

@Scripts.Render("~/bundles/singleproduct")

@section scripts{
    <script>
        function addfavsingle(obj, id) {
            var heart = '<i class="fa fa-heart"></i> <span>Add to Favorites</span>';
            var hearted = '<i class="fa fa-heart is-favorite"></i> <span>Add to Favorites</span>';
            var loadingspin = ' <i class="fa fa-spinner fa-spin"></i>';
            $(obj).html(loadingspin);
            $(obj).removeClass('is-favorite');
            $.ajax({
                type: 'Get',
                url: '/Products/AddOrRemoveFavorit/' + id,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.IsAuthenticated == false) {
                        location.href = '/account/login';
                    } else {
                        if (data.isInMyFavList) {
                            $(obj).html(hearted);
                            $.toast({
                                heading: 'Success',
                                text: 'Item Added to your Favorit',
                                icon: 'success',
                                showHideTransition: 'slide',
                                position: 'top-right',
                                hideAfter: 7000
                            })
                        } else {
                            $(obj).html(heart);
                            $.toast({
                                heading: 'Success',
                                text: 'Item Removed from your Favorit',
                                icon: 'success',
                                showHideTransition: 'slide',
                                position: 'top-right',
                                hideAfter: 7000
                            })
                        }
                    }
                }
            });
        }
    </script>
    </script>
}