@model ICollection<Product>
<div role="main" class="row row-layout profile-content">



    <header class="small-12 columns" itemprop="creator" itemscope="" itemtype="http://schema.org/Person">
        <a href="/publicprofile?id=@ViewBag.id" title="@ViewBag.ProfileFullName 's profile" itemprop="url">
            @if (!String.IsNullOrEmpty(ViewBag.PhotoPath))
            {
                <img src="/@ViewBag.PhotoPath" alt="avatar" class="avatar" itemprop="image">
            }
            else
            {
                <img src="//d3t95n9c6zzriw.cloudfront.net/common/profile/avatar_tiny_square.jpg" alt="avatar" class="avatar" itemprop="image">
            }

            <h1 class="profile-subpage-name ellipsis" itemprop="name">@ViewBag.ProfileFullName</h1>
            <i class="fa fa-caret-left"></i> @ProfileRes.Back_to_profile
        </a>


    </header>

    <div class="profile-nav large-12 columns">
        <a href="/publicprofile/artworks?id=@ViewBag.id" class="active" title="link to artwork">
            <i class="fa fa-suitcase"></i> Artwork <span>(@Model.Count)</span>
        </a>
        <a href="/publicprofile/collection?id=@ViewBag.id" class="" title="link to Collections">
            <i class="fa fa-th"></i> Collections <span>(@ViewBag.collectionCount)</span>
        </a>
        <a href="/publicprofile/favorites?id=@ViewBag.id" class="" title="link to Favorites">
            <i class="fa fa-heart"></i> Favorites <span>(@ViewBag.favoritesCount)</span>
        </a>
    </div>
    <div class="row sort">
        <div id="listSort" class="favorites-sort small-12 medium-6 columns">
        </div>
        @*<div class="small-12 medium-6 columns view-options mt1">
                <div>View:</div> <button data-view="fullView" class="view-option btn-round btn-masonry so-quick-tip active" oldtitle="View multiple items"></button>
                <button data-view="pageWidthView" class="view-option btn-round btn-fullscroll so-quick-tip" oldtitle="View full-width, scrolling"><i class="fa fa-stop"></i></button>
                <button id="firstStop" data-view="slideshowView" class="view-option btn-round btn-slideshow so-quick-tip" onclick="$('.joyride-tip-guide').fadeOut();" oldtitle="View as slideshow"><i class="fa fa-expand"></i></button>
            </div>*@
    </div>
    <script>
        // [art.id_user_art, art.id_user_art, art.id_user_art]
        //Saatchi.Favorite.users = [2633376,3752244];
    </script>
    <div class="row">

        <ul id="infinite" class="item-list masonry" style="position: relative; height: 359.797px;">

            @foreach (Product item in Model)
            {
                <li class="art-item fast-fade ">
                    <div class="list-art-image" itemscope="" itemtype="http://schema.org/ImageObject">
                        <div class="list-art-image-wrapper">
                            <a href="/products/single/@item.Id" itemprop="url">
                                <img src="@item.photo.Path" alt="Photography, “photo - Limited Edition 1 of 1” #art" itemprop="contentURL">
                            </a>

                        </div>

                        <div class="list-art-meta">
                            <h4 class="list-art-title left ellipsis" itemprop="name">
                                <a href="/products/single/@item.Id">@item.Title - Limited Edition @item.avaible of @item.AllEntity</a>
                            </h4>
                            <small class="art-category clear left">Photography, <span>@item.Height  H</span> x <span> @item.Width  W</span> x <span> @item.Depth </span> cm</small>

                            @{

                                var fullname = item.user.FirstName + " " + item.user.LastName;

                            }
                            <div class="list-author clear left">
                                <h5 class="artist-name left ellipsis" itemprop="creator" itemscope="" itemtype="http://schema.org/Person">
                                    <a href="/publicprofile?id=@item.user_id" class="artist-card" title="Profile page for @fullname" itemprop="url">@fullname</a>
                                </h5>
                                @*<h5 class="user-location ellipsis clear" itemprop="contentLocation">Iran</h5>*@
                            </div>

                            <div class="list-art-price">
                            </div>
                        </div>
                    </div>
                </li>
                                }
        </ul>
        <div class="clearfix"></div>
        <div id="pageNav" class="hidden">
            <a href="/account/artworks/id/994144/format/json/page/2">2</a>
        </div>
        <div id="pageLoading"></div>


    </div>

</div>
<script src="~/Content/fullview.js"></script>

<script>
    Saatchi.Loader.load('hslpicker', { js: true });
    Saatchi.Loader.load('browse', { js: true }, function () {
        Saatchi.Browse.init();
    });
    Saatchi.Loader.load('fullview', { js: true }, function () {
        Saatchi.Fullview.init();
        Saatchi.Fullview.SetView.init();
        Saatchi.Fullview.FullScreen.init();
    });
    Saatchi.Loader.load('favorite', { js: true }, function () {
        Saatchi.Favorite.init();
    });

    $('.joyride-tip-guide').delay(5000).fadeOut('slow');

    var observer;
    // stop observing
    if (observer) {
        observer.disconnect();
    }

</script>