@model ICollection<Favorit>
@using DataLayer.Extentions
@{
    ViewBag.Title = "Favorites | Artiscovery";
}

<div role="main" class="row row-layout profile-content">


    <div id="shareArt" class="share-module" data-url="http://www.saatchiart.com/account/favorite/994144" style="display: block;">
        <a class="share facebook" data-source="facebook" data-type="share" href="http://facebook.com/sharer.php?u=http%3A%2F%2Fwww.saatchiart.com%2Faccount%2Ffavorite%2F994144" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.saatchiart.com%2Faccount%2Ffavorite%2F994144&amp;text=View+Favorites+by+adib+dehghan+on+Saatchi+Art+%40SaatchiArt" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
        <a class="share pinterest" href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.saatchiart.com%2Faccount%2Ffavorite%2F994144&amp;media=http:&amp;description=Favorites+by+adib+dehghan+on+Saatchi+Art+%23art" target="_blank">
            <i class="fa fa-pinterest"></i>
        </a>
        <a class="email so-email-to-friend-open" href="#" data-type="emailToFriend" data-emailtofriend="{&quot;url&quot;:&quot;http://www.saatchiart.com/account/favorite/994144&quot;,&quot;shareImage&quot;:&quot;&quot;,&quot;pageTitle&quot;:&quot;Favorites by adib dehghan&quot;}">
            <i class="fa fa-envelope"></i>
        </a>
        <div id="totalShares" class="total-share"><span>0</span></div>
    </div>


    <script>
        Saatchi.EmailToFriend.modalTrack = 'email-to-friend-page';
        Saatchi.EmailToFriend.modalUrl = '/social/email/page';
        Saatchi.EmailToFriend.modalTitle = 'Share this page';
        Saatchi.EmailToFriend.init();
    </script>
    <header class="small-12 columns" itemprop="creator" itemscope="" itemtype="http://schema.org/Person">
        <a href="/publicprofile?id=@ViewBag.id" title="@ViewBag.ProfileFullName 's profile" itemprop="url">
            @if (!String.IsNullOrEmpty(ViewBag.PhotoPath))
            {
                <img src="/@ViewBag.PhotoPath" alt="avatar" class="avatar" itemprop="image">
            }
            else
            {
                <img src="//d3t95n9c6zzriw.cloudfront.net/common/profile/avatar_tiny_square.jpg" alt="avatar" class="avatar" itemprop="image">
            }

            <h1 class="profile-subpage-name ellipsis" itemprop="name">@ViewBag.ProfileFullName</h1>
            <i class="fa fa-caret-left"></i> @ProfileRes.Back_to_profile
        </a>

    </header>

    <div class="profile-nav large-12 columns">
        <a href="/publicprofile/artworks?id=@ViewBag.id" class="" title="link to artwork">
            <i class="fa fa-suitcase"></i> Artwork <span>(@ViewBag.artworkCount)</span>
        </a>
        <a href="/publicprofile/collection?id=@ViewBag.id" class="" title="link to Collections">
            <i class="fa fa-th"></i> Collections <span>(@ViewBag.collectionCount)</span>
        </a>
        <a href="/publicprofile/favorites?id=@ViewBag.id" class="active" title="link to Favorites">
            <i class="fa fa-heart"></i> Favorites <span>(@Model.Count)</span>
        </a>
    </div>
    <div class="row sort">
        <div id="listSort" class="favorites-sort small-12 medium-6 columns">
        </div>
        <div class="small-12 medium-6 columns view-options mt1" style="display:none">
            <div>View:</div> <button data-view="fullView" class="view-option btn-round btn-masonry so-quick-tip active" oldtitle="View multiple items"></button>
            <button data-view="pageWidthView" class="view-option btn-round btn-fullscroll so-quick-tip" oldtitle="View full-width, scrolling"><i class="fa fa-stop"></i></button>
            <button id="firstStop" data-view="slideshowView" class="view-option btn-round btn-slideshow so-quick-tip" onclick="$('.joyride-tip-guide').fadeOut();" oldtitle="View as slideshow"><i class="fa fa-expand"></i></button>
        </div>
    </div>
    <script>
        // [art.id_user_art, art.id_user_art, art.id_user_art]
        Saatchi.Favorite.users = [2633376, 3752244];
    </script>
    <div class="row">

        <ul id="infinite" class="item-list masonry" style="position: relative; height: 372.891px;">
            @foreach (var item in Model)
            {
                <li class="art-item fast-fade ">
                    <div class="list-art-image" itemscope="" itemtype="http://schema.org/ImageObject">
                        <div class="list-art-image-wrapper">
                            <a href="/products/single/@item.productId" itemprop="url">
                                <img src="@item.product.photo.Path" alt="Photography, “photo - Limited Edition 1 of 1” #art" itemprop="contentURL">
                            </a>

                        </div>
                        <div class="item-controls" data-id="3752244" data-artist="955468" data-art="3561261">
                            <a href="/cart/add/P1-U955468-A3561261" class="btn-round btn-add-to-cart" title="Add to Cart" rel="nofollow" data-sku="P1-U955468-A3561261" data-title="Infinity Diptych - Limited Edition 50" data-price="1920" data-category="Printmaking" data-artist-id="955468" data-art-id="3561261">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#" data-user="994144" data-favorite="false" class="btn-round btn-favorite is-favorite" title="Remove from Favorites" rel="nofollow"><i class="fa fa-heart"></i></a>
                            @*<a href="#" data-collection-owner="955468" data-art-id="3561261" class="btn-round btn-add-to-collection hide-for-small-down" rel="nofollow" oldtitle="Add to Collection"><i class="fa fa-plus"></i></a>*@
                        </div>
                        <div class="list-art-meta">
                            <h4 class="list-art-title left ellipsis" itemprop="name">
                                <a href="/products/single/@item.productId">@item.product.Title - Limited Edition @item.product.avaible of @item.product.AllEntity</a>
                            </h4>
                            <small class="art-category clear left">@item.product.category, <span>@item.product.Height  H</span> x <span> @item.product.Width  W</span> x <span> @item.product.Depth </span> cm</small>
                            @{

                                var fullname = item.product.user.FirstName + " " + item.product.user.LastName;

                            }
                            <div class="list-author clear left">
                                <h5 class="artist-name left ellipsis" itemprop="creator" itemscope="" itemtype="http://schema.org/Person">
                                    <a href="/publicprofile?id=@item.product.user_id" class="artist-card" title="Profile page for @fullname" itemprop="url">@fullname</a>
                                </h5>
                                @*<h5 class="user-location ellipsis clear" itemprop="contentLocation">@item.product.user.country.Current().Name</h5>*@
                            </div>

                            <div class="list-art-price">
                                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                    <!-- internationalization testing -->
                                    <div itemprop="price">
                                        @item.product.Price $
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                                }
        </ul>
        <div class="clearfix"></div>
        @{
            int page = ViewBag.page;
            int count = ViewBag.count;
            int pageSize = ViewBag.pageSize;
            bool haveNext = page * pageSize < count;
            bool havePrev = page != 1;
            int minpage = 1;
            int maxpage = (int)Math.Ceiling((float)count / (float)pageSize);
        }

        <div class="so-pagination">
            <div class="pagination">
                <ul class="pull-right">
                    @if (havePrev)
                    {
                        <li><a onclick="document.location.href = '/publicprofile/Favorites?id=@Model.FirstOrDefault().user_id&page=@(page-1)'" href="/publicprofile/ArtWorks?id=@Model.FirstOrDefault().user_id&page=@(page-1)"><i class="fa fa-angle-left"></i></a></li>
                    }

                    @for (int i = Math.Max(1, page - 2); i < page; i++)
                    {
                        <li>
                            <a onclick="document.location.href = '/publicprofile/Favorites?id=@Model.FirstOrDefault().user_id&page=@i'" href="/publicprofile/ArtWorks?id=@Model.FirstOrDefault().user_id&page=@i">@i</a>
                        </li>
                    }

                    <li class="active">
                        <a>@page</a>
                    </li>

                    @for (int i = page + 1; i <= maxpage && Math.Abs(i - page) < 3; i++)
                    {
                        <li>
                            <a onclick="document.location.href = '/publicprofile/Favorites?id=@Model.FirstOrDefault().user_id&page=@i'" href="/publicprofile/ArtWorks?id=@Model.FirstOrDefault().user_id&page=@i">@i</a>
                        </li>
                    }


                    @if (haveNext)
                    {
                        <li><a onclick="document.location.href = '/publicprofile/Favorites?id=@Model.FirstOrDefault().user_id&page=@(page+1)'" href="/publicprofile/ArtWorks?id=@Model.FirstOrDefault().user_id&page=@(page+1)"><i class="fa fa-angle-right"></i></a></li>
                    }

                    @*
                        <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>*@
                </ul>
                <div class="so-pagination-count pull-right">
                    <small>@ShareRes.Showing @((((page - 1) * pageSize) + 1) * (count == 0 ? 0 : 1)) - @(Math.Min(((page - 1) * pageSize) + pageSize, count)) @ShareRes.of @count  </small>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>


    </div>

</div>


<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
    </div>

<script type="text/javascript">
        Saatchi.Loader.load('profile', { js: true }, function () {
            Saatchi.Profile.init();
        });
        Saatchi.Loader.load('favorite', { js: true }, function () {
            Saatchi.Favorite.init();
        });
        Saatchi.Loader.load('fullview', { js: true }, function () {
            Saatchi.Fullview.init();
            Saatchi.Fullview.SetView.init();
            Saatchi.Fullview.FullScreen.init();
        });
        Saatchi.Loader.load('infinitescroll');
        Saatchi.Loader.load('pagination', { js: true }, function () {
            Saatchi.Pagination.type = 'art';
            Saatchi.Pagination.init();
        });

        $('body').bind('contextmenu', function (e) {
            $('body').trigger("click");
            return false;
        });

        $('.joyride-tip-guide').delay(5000).fadeOut('slow');
</script>

<div class="clearfix"></div>
</div>
