
@{
    ViewBag.Title = "verify";
}

@model Order

<div class="row-layout content">
    <div class="row">
        <div class="small-12 columns">
            <h2 style="text-align:right" class="section-title mt0">نتیجه سفارش شما</h2>
            <div style="text-align:right" class="section-details">@User.Identity.Name</div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <table class="table table-hover">
                <tr>
                    <td colspan="2">شماره فاکتور</td>
                    <td colspan="2">@Model.Id</td>
                </tr>
                <tr>
                    <td>وضعیت پرداخت</td>
                    <td>@Model.TransactionDetail.Payed</td>

                    <td>شماره فاکتور</td>
                    <td>@Model.TransactionDetail.Number</td>
                </tr>
                <tr>
                    <td>تعداد کالا</td>
                    <td>@Model.OrderDetails.Count()</td>

                    <td>مبلغ</td>
                    <td>@Model.TransactionDetail.amount $</td>
                </tr>
            </table>
        </div>
    </div>

    <a class="btn btn-info">لیست سفارشات</a>
</div>

