@using DataLayer.Extentions;
@model ICollection<Article>
<main role="main">
    <!--MAIN SECTION-->
    <section class="main-section">
        <div class="wrapper">
            <div class="topic-title-bar">
                <h1>Artist's Handbook</h1>
                <p>
                    Are you a buyer?
                    <a href="@Url.Action("Category", "Support", new { id = "12-for-buyers" })">
                        Click here
                    </a>
                    to view Buyer FAQs
                </p>
            </div>
            <div class="topic-list">
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("Article", "Support", new { id = @item.GenerateSlug() })" class="topic-list-item">
                        <span class="topic-list-icon">
                            <img src="https://admin.artiscovery.com/@item.Thumbnail">
                        </span>
                        <span class="topic-list-topic">
                            <h3>@item.Current().Title</h3>
                            <p>@item.Current().ShortDescription</p>
                        </span>
                        <img src="~/Content/Images/Support/icon_chevron_right.png">
                    </a>
                }
            </div>
            <!--END TOPIC LIST -->
            <div class="footer-nav">
                <a href="@Url.Action("Category", "Support", new { id = "12-for-buyers" })">Buyer's FAQ</a>
                <span></span>
                <a href="https://www.Artiscovery.com/">Home</a>
                <span></span>
                <a href="https://eyes.Artiscovery.com/">Eyes Blog</a>
                <span></span>
                <a href="https://www.Artiscovery.com/pages/whysell">Why Sell</a>
            </div>
        </div>
    </section>
</main>
