@model ICollection<Product>
<div role="main" class="row row-layout profile-content">



    <header class="small-12 columns" itemprop="creator" itemscope="" itemtype="http://schema.org/Person">

        <a href="/profile" title="adib dehghan's profile" itemprop="url">
            <img src="//d3t95n9c6zzriw.cloudfront.net/common/profile/avatar_tiny_square.jpg" alt="avatar" class="avatar" itemprop="image">
            <h1 class="profile-subpage-name ellipsis" itemprop="name">@ViewBag.ProfileFullName</h1>
            <i class="fa fa-caret-left"></i> Back to Profile
        </a>

        <div class="artist-manage-links">
            <a href="/account/manage-art" title="Manage Artworks" itemprop="url">Manage Artworks</a>
            <span> | </span>
            <a href="/upload/index" class="">Upload Art</a>
        </div>
    </header>

    <div class="profile-nav large-12 columns">
        <a href="/profile/artworks" class="active" title="link to artwork">
            <i class="fa fa-suitcase"></i> Artwork <span>(@Model.Count)</span>
        </a>
        <a href="/profile/collection" class="" title="link to Collections">
            <i class="fa fa-th"></i> Collections <span>(@ViewBag.collectionCount)</span>
        </a>
        <a href="/profile/favorites" class="" title="link to Favorites">
            <i class="fa fa-heart"></i> Favorites <span>(@ViewBag.favoritesCount)</span>
        </a>
    </div>
    <div class="row sort">
        <div id="listSort" class="favorites-sort small-12 medium-6 columns">
        </div>
        @*<div class="small-12 medium-6 columns view-options mt1">
                <div>View:</div> <button data-view="fullView" class="view-option btn-round btn-masonry so-quick-tip active" oldtitle="View multiple items"></button>
                <button data-view="pageWidthView" class="view-option btn-round btn-fullscroll so-quick-tip" oldtitle="View full-width, scrolling"><i class="fa fa-stop"></i></button>
                <button id="firstStop" data-view="slideshowView" class="view-option btn-round btn-slideshow so-quick-tip" onclick="$('.joyride-tip-guide').fadeOut();" oldtitle="View as slideshow"><i class="fa fa-expand"></i></button>
            </div>*@
    </div>
    <script>
        // [art.id_user_art, art.id_user_art, art.id_user_art]
        //Saatchi.Favorite.users = [2633376,3752244];
    </script>
    <div class="row">

        <ul id="infinite" class="item-list masonry" style="position: relative; height: 359.797px;">
            <li class="art-item upload-art">
                <a href="/upload/index" title="Upload Art" class="profile-new-upload-art">
                    <i class="fa fa-upload icn-bg" style="display:inline-table"></i>
                    <span style="display:-webkit-inline-box">Upload Art</span>
                </a>
            </li>
            @foreach (Product item in Model)
            {
                <li class="art-item fast-fade ">
                    <div class="list-art-image" itemscope="" itemtype="http://schema.org/ImageObject">
                        <div class="list-art-image-wrapper">
                            <a href="/products/single/@item.Id" itemprop="url">
                                <img src="@item.photo.Path" alt="Photography, “photo - Limited Edition 1 of 1” #art" itemprop="contentURL">
                            </a>

                        </div>
                        <div class="item-controls" data-id="3863434" data-artist="994144" data-art="3672399">
                            @*<a href="#" data-collection-owner="994144" data-art-id="3672399" class="btn-round btn-add-to-collection hide-for-small-down" rel="nofollow" oldtitle="Add to Collection"><i class="fa fa-plus"></i></a>*@
                            <a href="/upload/edit/art/3672399/artist/994144" class="btn-round btn-edit" title="Edit" rel="nofollow"><i class="fa fa-pencil"></i></a>
                        </div>
                        <div class="list-art-meta">
                            <h4 class="list-art-title left ellipsis" itemprop="name">
                                <a href="/products/single/@item.Id">@item.Title - Limited Edition @item.avaible of @item.AllEntity</a>
                            </h4>
                            <small class="art-category clear left">Photography, <span>@item.Height  H</span> x <span> @item.Width  W</span> x <span> @item.Depth </span> cm</small>

                            <div class="list-author clear left">
                                <h5 class="artist-name left ellipsis" itemprop="creator" itemscope="" itemtype="http://schema.org/Person">
                                    <a href="/profile" class="artist-card" title="Profile page for @ViewBag.profileFullName" itemprop="url">@ViewBag.profileFullName</a>
                                </h5>
                                @*<h5 class="user-location ellipsis clear" itemprop="contentLocation">Iran</h5>*@
                            </div>

                            <div class="list-art-price">
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="clearfix"></div>
        <div id="pageNav" class="hidden">
            <a href="/account/artworks/id/994144/format/json/page/2">2</a>
        </div>
        <div id="pageLoading"></div>


    </div>

</div>
<script src="~/Content/fullview.js"></script>

<script>
    Saatchi.Loader.load('hslpicker', { js: true });
    Saatchi.Loader.load('browse', { js: true }, function () {
        Saatchi.Browse.init();
    });
    Saatchi.Loader.load('fullview', { js: true }, function () {
        Saatchi.Fullview.init();
        Saatchi.Fullview.SetView.init();
        Saatchi.Fullview.FullScreen.init();
    });
    Saatchi.Loader.load('favorite', { js: true }, function () {
        Saatchi.Favorite.init();
    });

    $('.joyride-tip-guide').delay(5000).fadeOut('slow');

    var observer;
    // stop observing
    if (observer) {
        observer.disconnect();
    }

</script>