@model ICollection<Favorit>
@{
    ViewBag.Title = "Favorites | Artiscovery";
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    var rtlstl = IsRighToLeft ? "direction:rtl;float:right !important; text-align:right !important" : "";
    var rtldirection = IsRighToLeft ? "direction:rtl !important;text-align:right !important" : "";
    var rtlPosition = IsRighToLeft ? "margin-right:40px !important" : "";
    var pricertl = IsRighToLeft ? "left:0;right:auto;text-align:left;" : "";
}
@using DataLayer.Extentions

<div role="main" class="row row-layout profile-content">

    <header class="small-12 columns" itemprop="creator" itemscope="" itemtype="http://schema.org/Person">

        <a href="/profile" title="@ViewBag.ProfileFullName's profile" itemprop="url">
            @if (!String.IsNullOrEmpty(ViewBag.PhotoPath))
            {
                <img src="/@ViewBag.PhotoPath" alt="avatar" class="avatar" itemprop="image">
            }
            else
            {
                <img src="//d3t95n9c6zzriw.cloudfront.net/common/profile/avatar_tiny_square.jpg" alt="avatar" class="avatar" itemprop="image">
            }

            <h1 class="profile-subpage-name ellipsis" itemprop="name">@ViewBag.ProfileFullName</h1>
            <i class="fa fa-caret-left"></i> @ProfileRes.Back_to_profile
        </a>

    </header>

    <div class="profile-nav large-12 columns">
        <a href="/profile/artworks" class="" style="@rtldirection" title="link to artwork">
            <i class="fa fa-suitcase"></i> @ProfileRes.Artwork <span>(@ViewBag.artworkCount)</span>
        </a>
        <a href="/profile/collection" style="@rtldirection" class="" title="link to Collections">
            <i class="fa fa-th"></i> @ProfileRes.Collections <span>(@ViewBag.collectionCount)</span>
        </a>
        <a href="/profile/favorites" style="@rtldirection" class="active" title="link to Favorites">
            <i class="fa fa-heart"></i> @ProfileRes.Favorites <span>(@Model.Count)</span>
        </a>
    </div>
    <div class="row sort">
        <div id="listSort" class="favorites-sort small-12 medium-6 columns">
        </div>
        <div class="small-12 medium-6 columns view-options mt1" style="display:none">
            <div>View:</div> <button data-view="fullView" class="view-option btn-round btn-masonry so-quick-tip active" oldtitle="View multiple items"></button>
            <button data-view="pageWidthView" class="view-option btn-round btn-fullscroll so-quick-tip" oldtitle="View full-width, scrolling"><i class="fa fa-stop"></i></button>
            <button id="firstStop" data-view="slideshowView" class="view-option btn-round btn-slideshow so-quick-tip" onclick="$('.joyride-tip-guide').fadeOut();" oldtitle="View as slideshow"><i class="fa fa-expand"></i></button>
        </div>
    </div>
    <script>
        // [art.id_user_art, art.id_user_art, art.id_user_art]
        Saatchi.Favorite.users = [2633376, 3752244];
    </script>
    <div class="row">

        <ul id="infinite" class="item-list masonry" style="position: relative; height: 372.891px;">
            @foreach (var item in Model)
            {
                <li itemscope itemtype="http://schema.org/CreativeWork" class="art-item fast-fade ">
                    <div class="list-art-image" itemscope itemtype="http://schema.org/ImageObject">
                        <div class="list-art-image-wrapper">
                            <a href="@Url.Action(item.product.category.Current().Name,"Artwork", new { id=@item.product.GenerateSlug() })" itemprop="url">
                                <img src="@item.product.photo.Path">
                            </a>

                        </div>
                        <div class="item-controls">
                            @if (item.product.ISOrginalForSale && item.product.Status == ProductStatus.forSale)
                            {
                                <a href="/Card/AddToCart?id=@item.product.Id&type=@((int)Ordertype.Orginal)" class="btn-round btn-add-to-cart" style="background-color:rgba(0,0,0,0.6)" title="Add to Cart">
                                    <i class="fa fa-shopping-cart" style="color:white"></i>
                                </a>
                            }

                            <a onclick="addfav(this,@item.product.Id)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-favorite is-favorite" title="Remove from Favorites">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a onclick="addcollect(@item.productId)" style="background-color:rgba(0,0,0,0.6)" class="btn-round btn-add-to-collection hide-for-small-down" title="Add to Collection">
                                <i class="fa fa-plus" style="color:white"></i>
                            </a>
                        </div>
                        <div class="list-art-meta" style="height:auto; @rtlstl">
                            <h4 class="list-art-title left ellipsis" itemprop="name" style="@rtlstl">
                                <a href="@Url.Action(item.product.category.Current().Name,"Artwork", new { id=@item.product.GenerateSlug() })">@item.product.Title</a>
                            </h4>
                            <small style="@rtlstl" class="art-category clear left">@item.product.category.Current().Name, <span>@item.product.Height  H</span> x <span> @item.product.Width  W</span> x <span> @item.product.Depth </span> cm</small>

                            <div class="list-author clear left" style="@rtlstl">
                                <h5 class="artist-name left ellipsis" itemprop="creator" itemscope itemtype="http://schema.org/Person">
                                    <a href="@Url.Action(item.product.category.Current().Name,"Artwork", new { id=@item.product.GenerateSlug() })" class="artist-card" title="Profile page for Terri Dilling" itemprop="url">@item.user.FirstName  @item.user.LastName</a>
                                </h5>
                                <h5 class="user-location ellipsis clear" itemprop="contentLocation">
                                    @if (item.user.country != null)
                                    {
                                        <span>@item.user.country.Translations.SingleOrDefault(x => x.languageId == System.Globalization.CultureInfo.CurrentCulture.Name.Substring(0, 2)).Name</span>
                                    }
                                </h5>
                            </div>

                            <div class="list-art-price" style="@pricertl">
                                @if (item.product.ISOrginalForSale)
                                {
                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <!-- internationalization testing -->
                                        <div itemprop="price">
                                            $@item.product.Price
                                        </div>
                                    </div>
                                }
                                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <!-- internationalization testing -->
                                    <div class="sample-print-price" itemprop="price">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            }
        </ul>
        <div class="clearfix"></div>

    </div>
    <script src="~/Content/fullview.js"></script>
    <script>
        Saatchi.Loader.load('hslpicker', { js: true });
        Saatchi.Loader.load('browse', { js: true }, function () {
            Saatchi.Browse.init();
        });
        Saatchi.Loader.load('fullview', { js: true }, function () {
            Saatchi.Fullview.init();
            Saatchi.Fullview.SetView.init();
            Saatchi.Fullview.FullScreen.init();
        });
        Saatchi.Loader.load('favorite', { js: true }, function () {
            Saatchi.Favorite.init();
        });

        $('.joyride-tip-guide').delay(5000).fadeOut('slow');

        var observer;
        // stop observing
        if (observer) {
            observer.disconnect();
        }

    </script>

</div>
