@model IEnumerable<Order>
@{
    ViewBag.Title = "سفارشات | Artiscovery";
}
<style>
    .fields label {
        clear: right;
        float: right;
        text-align: right;
    }

    textarea.wide {
        padding-right: 0.75rem;
        text-align: right;
    }

    .page-title {
        text-align: right;
    }

    .mb2 {
        text-align: right;
    }
</style>

<div class="row-layout content" style="">

    <div class="row">

        <div class="small-12 large-4 large-push-8 columns bgtext side-nav-container" style="margin-left:20px;text-align:right">

            <ul class="side-nav">
                <li class="profile ">
                    <a href="/accountinfo/index">@ProfileRes.Account_info</a>
                </li>
                <li class="profile ">
                    <a href="/accountinfo/profileinformation">
                        @ProfileRes.Profile_information
                    </a>
                    
                </li>

                <li class="billing">
                    <a href="/accountinfo/billing">@ProfileRes.Address_Identification</a>
                </li>

                <li class="sold">
                    <a href="/accountinfo/items">@ProfileRes.Sales_Dashboard</a>
                </li>
                @*<li>
                        <a style="padding-left:20px;" href="/accounts/upload-tax-form">
                            Tax
                            Form
                        </a>
                    </li>*@

                <li class="purchased active">
                    <a href="/accountinfo/orders">@ProfileRes.Orders</a>
                </li>


                @*   <li class="account-sign-out"><a href="/sign-out">@ProfileRes.Logout</a></li>*@
            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="small-12 large-8 large-pull-4 columns bgtext content" style="direction:rtl">
            @if (Model.Count() == 0)
            {
                <span>شما تاکنون سفارشی ثبت نکرده اید</span>
            }
            else
            {

                <table class="table m-b-0">
                    <tr>
                        <th></th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.user.)*@
                            test
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BuyDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalPrice)
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th><i class="fa fa-user"></i></th>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDetails)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BuyDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalPrice)
                            </td>
                        </tr>
                    }

                </table>
            }

        </div>

    </div>        <div class="clearfix"></div>
</div>

