
@{
    ViewBag.Title = "SalesDashboard | Artiscovery";
}

@model List<PayoutRequest>

@using DataLayer.Extentions

@{var IsRighToLeft = CultureHelper.IsRighToLeft();}


<div class="row-layout content">

    <div class="row">
        <div class="small-12 large-8 large-push-4 columns bgtext content">
            <h3 class="hd-title">@ProfileRes.Requestpayout</h3>
            <p class="mb2">you have $@ViewBag.account in your account</p>

            @if (Model == null || Model.Count == 0 || Model.All(x => x.Seen))
            {
                using (Html.BeginForm("SalesDashboard", "accountinfo", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <fieldset class="fields">
                        <label>Bank Name</label>
                        <div>
                            <input class="wide"  name="BankName"/>
                        </div>

                        <label>Card Number</label>
                        <div>
                            <input class="wide"  name="CardNumber"/>
                        </div>

                        <label>Account Number</label>
                        <div>
                            <input class="wide"  name="AccountNumber"/>
                        </div>

                        <label>Account Holder</label>
                        <div>
                            <input class="wide"  name="AccountHolder"/>
                        </div>

                        <input type="submit" class="button btn-info mt1" value="@ProfileRes.Requestpayout">
                    </fieldset>
                }
            }

            <div id="so-shipping-id">
                <h3 class="page-title">@ProfileRes.History</h3>
                <table class="table table-hover">
                    <tr>
                        <td>Date</td>
                        <td>Amount</td>
                        <td>Payed</td>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.date</td>
                                <td>@item.Value $</td>
                                @if (!item.Seen)
                                {
                                    <td>pending</td>
                                }
                                else if (item.Payed)
                                {
                                    <td>payed</td>
                                }
                                else
                                {
                                    <td>Not payed</td>
                                }
                            </tr>
                        }
                    }
                </table>
            </div>

        </div>
        <div class="small-12 large-4 large-pull-8 columns bgtext side-nav-container">

            <ul class="side-nav">
                <li class="profile ">
                    <a href="/accountinfo/index">@ProfileRes.Account_info</a>
                </li>
                <li class="profile ">
                    <a href="/accountinfo/profileinformation">
                        @ProfileRes.Profile_information
                    </a>
                </li>

                <li class="billing">
                    <a href="/accountinfo/billing">@ProfileRes.Address_Identification</a>
                </li>

                <li class="sold active">
                    <a href="/accountinfo/salesdashboard">@ProfileRes.Sales_Dashboard</a>
                </li>

                <li class="purchased">
                    <a href="/accountinfo/orders">@ProfileRes.Orders</a>
                </li>
            </ul>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
