
@{
    ViewBag.Title = "Upload Id";
}
@{
    var IsRighToLeft = CultureHelper.IsRighToLeft();
    
    var rtldirection = IsRighToLeft ? "direction:rtl !important" : "";
    
}
<div class="row-layout content">
    <div class="guide-block" style="@rtldirection">
        <h1>@ProfileRes.GovermentID_title</h1>
        <fieldset id="so-seller-identification">
            <legend>Seller Verification</legend>
            <p>
            @ProfileRes.GovermentID_p1
            </p>

            <p>
                @ProfileRes.GovermentID_p2
            </p>

            
            <form id="upload-id" enctype="multipart/form-data" action="/accountinfo/uploadid" method="post">
                <dl class="zend_form">
                    @*<dt id="id-label"><label for="id" class="required">File size must be less than 2MB.</label></dt>*@
                    <dd id="id-element">
                        <input type="hidden" name="MAX_FILE_SIZE" value="16777216" id="MAX_FILE_SIZE">
                        <input type="file" id="Image" name="Image">
                    </dd>
                    <input type="hidden" name="url" value="" id="url">
                    @*<dt id="photo_id_name-label"><label for="photo_id_name" class="optional">If you operate under a different name than what is on your government issued ID, enter your LEGAL name below. We won't make this information public.</label></dt>
                        <dd id="photo_id_name-element">
                            <input type="text" name="photo_id_name" id="photo_id_name" value="" placeholder="Enter Legal Name">
                        </dd>*@


                </dl>
                <input type="submit" id="submit" value="@ProfileRes.Submit" class="btn btn-inverse" disabled>
            </form>
        </fieldset>
    </div>        <div class="clearfix"></div>
</div>

<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                //$('#preview').attr('class', '');
                //$('#preview').attr('src', e.target.result);
                $('#submit').removeAttr('disabled');
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#Image").change(function () {
        readURL(this);
    });</script>