@{
    ViewBag.Title = "Index";
    IEnumerable<SiteParam> siteparams = ViewBag.SiteParams;
    SiteObjectParam SiteObjectParams = ViewBag.SiteObjectParams;
}

@Styles.Render("~/Content/Admin/vendor/jquery-labelauty/source/jquery-labelauty.css")

<div class="page-title">
    <div class="title"> پارامتر های صفحه اصلی</div>
    <ol class="breadcrumb no-bg pl0">
        <li>
            <a href="javascript:;">پنل سازمان</a>
        </li>
        <li>
            <a href="javascript:;">پارامتر های صفحه اصلی</a>
        </li>
    </ol>
</div>

<div class="clearfix"></div>

<div class="card bg-white m-b">
    <div class="card-header"> Defaults  </div>
    <div class="card-block p-a-0">
        <table class="table m-b-0">
            <tr>
                <th>
                    تصویر اسلایدر
                </th>
                <th>
                  <img style="height:50px;" src="@SiteObjectParams.SliderImage"/>
                </th>
            </tr>
            <tr>
                <th>
                    نام سایت
                </th>
                <th>
                    @SiteObjectParams.SiteName
                </th>
            </tr>
        </table>

    </div>
</div>

<div class="card bg-white m-b">
    <div class="card-header"> Header Fav Category  <button class="pull-left btn btn-default btn-xs">ثبت دسته جدید</button> </div>
    <div class="card-block p-a-0">
        <div class="table-responsive">
            @if (SiteObjectParams != null && SiteObjectParams.Navigations.Count != 0)
            {
                <table class="table m-b-0">
                    <tr>
                        <th></th>
                        <th>
                            Name
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in SiteObjectParams.Navigations.Take(3))
                    {
                        <tr>
                            <th><i class="fa fa-book"></i></th>
                            <td>
                                @if (item.category.Translations.Count == 0)
                                {
                                    <span>No Name</span>
                                }
                                @foreach (var trans in item.category.Translations)
                                {
                                    <img width="20" src='~/Content/Images/@(trans.language.Code + ".svg")' />  @trans.Name
                                }
                            </td>
                            <td>
                                @Html.ActionLink("ویرایش", "EditUser", new { id = item.Id }, new { @class = "text-primary" }) |
                                @Html.ActionLink("حذف", "EditUser", new { id = item.Id }, new { @class = "text-danger" })
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="alert alert-warning ">
                    هیچ دسته بندی ای در Header ثبت نشده
                </div>
            }


        </div>
    </div>
</div>



@if (siteparams.Count() == 0)
{
    <div class="card bg-white m-b">
        <div class="card-header">پارامتر ها  </div>
        <div class="card-block p-a-0">
            <div class="alert alert-warning ">
                هیچ پارامتری در سیستم ثبت نشده
            </div>
        </div>
    </div>
}

else
{
    <div class="card bg-white m-b">
        <div class="card-header">پارامتر ها  </div>
        <div class="card-block p-a-0">
            <div class="table-responsive">
                <table class="table m-b-0">
                    <tr>
                        <th></th>
                        <th>
                            Name
                        </th>
                        <th>

                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in siteparams)
                    {
                        <tr>
                            <th><i class="fa fa-book"></i></th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @foreach (var lang in item.Translations)
                                {
                                    <img width="20" src='~/Content/Images/@(lang.language.Code+".svg")' />
                                }
                            </td>
                            <td>
                                @Html.ActionLink("ویرایش", "EditUser", new { id = item.Name }, new { @class = "text-primary" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
}


@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Content/Admin/vendor/jquery-labelauty/source/jquery-labelauty.js")

}
