@model HomeIndexViewModel

@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture)
{
if (c == culture)
{
        @:desktop-navigation__context-link--active
}
}


<header>
    <div class="desktop-navigation desktop-navigation--saatchiart">
        <div class="desktop-navigation__context-bar">
            <div class="desktop-navigation__context-bar__inner">
                <div class="desktop-navigation__context-bar__left">              
                    <div class="desktop-navigation__context-links">
                        <a data-gtm-event="nav header" class="desktop-navigation__context-link @selected("en-us", culture)" href="/Home/SetCulture?culture=en-us">
                            <img style="width:auto" class="desktop-navigation__context-logo desktop-navigation__context-logo--saatchiart" src="~/Content/Images/united-states.svg">
                        </a>
                        <a data-gtm-event="nav header" class="desktop-navigation__context-link @selected("fa", culture)" href="/Home/SetCulture?culture=fa">
                            <img style="width:auto" class="desktop-navigation__context-logo desktop-navigation__context-logo--toaf" src="~/Content/Images/iran.svg">
                        </a>
                    </div>
                </div>
                <div class="desktop-navigation__context-bar__right">
                    <div class="desktop-navigation__authentication-links">
                        <div class="desktop-navigation__authentication-links__item">
                            <a data-gtm-event="nav header" href="authentication128b.html?redirect_url=%2F" title="Sign In">Sign In</a>
                        </div>
                        <div class="desktop-navigation__authentication-links__item">
                            <a data-gtm-event="nav header" href="authentication/register128b.html?redirect_url=%2F" title="Register">Register</a>
                        </div>
                    </div>
                    <a data-gtm-event="nav header" href="authentication.html" class="navigation__favorite-link">
                        <svg viewBox="0 0 23 20" xmlns="http://www.w3.org/2000/svg"><path d="M22 6.54C22 3.48 19.38 1 16.16 1c-1.9 0-3.6.86-4.66 2.2A5.95 5.95 0 0 0 6.84 1C3.62 1 1 3.48 1 6.54c0 1.31.48 2.51 1.28 3.46l9.23 10 9.2-10A5.34 5.34 0 0 0 22 6.54z" stroke="#221F20" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </a>
                    <a data-gtm-event="nav header" href="" class="navigation__cart-link">
                        <div class="navigation__cart-link__count"></div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 21"><g fill="none" fill-rule="evenodd" transform="translate(0 1)"><path stroke="#333" stroke-linecap="round" d="M0 .478h4.667l3.734 13.077H23.35l2.804-8.635"></path><circle cx="21.25" cy="17.669" r="1.635" fill="#333"></circle><circle cx="10.232" cy="17.924" r="1.635" fill="#333"></circle></g></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="desktop-navigation__header-bar">
            <div class="desktop-navigation__container">
                <div class="desktop-navigation__header-bar__inner">
                    <a data-gtm-event="nav header" href="index.html" class="navigation__logo"><img src="~/Content/Images/sa-logo.svg" /></a>
                    <div class="desktop-navigation__site-links">
                        <div class="desktop-navigation__site-links__indicator"></div>
                        @for (int i = 0; i < Model.Navigation.Count; i++)
                        {
                            <div data-index="@i" class="desktop-navigation__site-link">
                                <div class="desktop-navigation__site-link__title">
                                    <a data-gtm-event="nav header"
                                       href="paintings.html"
                                       class="desktop-navigation__site-link__title__link">
                                        @Model.Navigation[i].Name
                                    </a>
                                </div>
                            </div>
                        }

                        <div data-index="7" class="desktop-navigation__site-link">
                            <div class="desktop-navigation__site-link__title">
                                <a data-gtm-event="nav header"
                                   href="/"
                                   class="desktop-navigation__site-link__title__link">
                                    Blog
                                </a>
                            </div>
                        </div>
                        <div data-index="8" class="desktop-navigation__site-link">
                            <div class="desktop-navigation__site-link__title">
                                <a data-gtm-event="nav header"
                                   href="/"
                                   class="desktop-navigation__site-link__title__link">
                                    Art Advisory
                                </a>
                            </div>
                        </div>

                        <div class="desktop-navigation__dropdown">

                            @for (int i = 0; i < Model.Navigation.Count; i++)
                            {
                                <div data-index="@i" class="desktop-navigation__dropdown__inner">
                                    <div class="desktop-navigation__dropdown__image-container">
                                        <a data-gtm-event="nav header"
                                           href="art-collection/Painting/Featured-Paintings/685448/191300/view.html"
                                           class="desktop-navigation__dropdown__image"
                                           style="background-image: url(@Model.Navigation[i].Photo)">
                                            <div class="desktop-navigation__dropdown__image__title">
                                                Featured @Model.Navigation[i].Name
                                            </div>
                                        </a>
                                    </div>

                                    <div class="desktop-navigation__dropdown__sections">
                                        <div class="desktop-navigation__dropdown__section">
                                            <div class="desktop-navigation__dropdown__section-title">
                                                Style
                                            </div>

                                            <div class="desktop-navigation__dropdown__section-links">
                                                @foreach (var item in Model.Navigation[i].FavStyles)
                                                {
                                                    <a data-gtm-event="nav header"
                                                       class="desktop-navigation__dropdown__section-link"
                                                       href="paintings/fine-art.html">
                                                        @item.Name
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                        <div class="desktop-navigation__dropdown__section">
                                            <div class="desktop-navigation__dropdown__section-title">
                                                Subject
                                            </div>

                                            <div class="desktop-navigation__dropdown__section-links">
                                                @foreach (var item in Model.Navigation[i].FavSubjects)
                                                {
                                                    <a data-gtm-event="nav header"
                                                       class="desktop-navigation__dropdown__section-link"
                                                       href="paintings/portrait.html">
                                                        @item.Name
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                        <div class="desktop-navigation__dropdown__section">
                                            <div class="desktop-navigation__dropdown__section-title">
                                                Medium
                                            </div>

                                            <div class="desktop-navigation__dropdown__section-links">
                                                @foreach (var item in Model.Navigation[i].FavMediums)
                                                {
                                                    <a data-gtm-event="nav header"
                                                       class="desktop-navigation__dropdown__section-link"
                                                       href="paintings/oil.html">
                                                        @item.Name
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <form action="https://www.saatchiart.com/all" class="desktop-navigation__search">
                        <button class="desktop-navigation__search__button" type="submit"><img class="desktop-navigation__search__mag" src="~/Content/Images/mag-glass.svg" /></button>
                        <input name="query" type="text" class="desktop-navigation__search__input" placeholder="Art" autocomplete="off" value="">
                        <div class="desktop-navigation__search__caret">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"><g fill="none" fill-rule="evenodd" stroke="#333" stroke-linecap="square"><path d="M1 0l7.071 7.071M8.5 7.5l7-7"></path></g></svg>
                        </div>
                        <div tabindex="0" class="desktop-navigation__search__dropdown dropdown-menu">
                            <div class="link-standard desktop-navigation__search__dropdown__item--active" data-path="/all">Art</div>
                            <div class="link-standard" data-path="/search/user">Artist</div>
                            <div class="link-standard" data-path="/search/collection">Collection</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-navigation">
        <div class="mobile-navigation__menu">
            <div class="mobile-navigation__backdrop"></div>
            <div class="mobile-navigation__menu__inner">
                <div class="hamburger mobile-navigation__hamburger">
                    <div class="hamburger__line"></div>
                    <div class="hamburger__line"></div>
                    <div class="hamburger__line"></div>
                </div>
                <div class="mobile-navigation__content">
                    <div class="mobile-navigation__menu__logo">
                        <a data-gtm-event="nav header" href="index.html" class="navigation__logo navigation__logo--saatchiart">
                            <img src="~/Content/Images/sa-logo.svg" />
                        </a>
                    </div>
                    <div class="mobile-navigation__site-links">
                        <div>
                            <a data-gtm-event="nav header"
                               href="authentication128b.html?redirect_url=%2F"
                               data-index="0"
                               class="mobile-navigation__site-link">
                                Sign In
                            </a>
                        </div>
                        <div>
                            <a data-gtm-event="nav header"
                               href="authentication/register128b.html?redirect_url=%2F"
                               data-index="1"
                               class="mobile-navigation__site-link">
                                Register
                            </a>
                        </div>

                        @foreach (var item in Model.Navigation)
                        {
                            <div>
                                <a data-gtm-event="nav header"
                                   data-index="2"
                                   class="mobile-navigation__site-link">
                                    @item.Name
                                    <img class="mobile-navigation__site-link__arrow-indicator" src="~/Content/Images/caret-right.svg" />
                                </a>
                                <div data-index="2" class="mobile-navigation__menu__panel">
                                    <div class="mobile-navigation__menu__panel__header">
                                        <img src="~/Content/Images/caret-left.svg"
                                             class="mobile-navigation__menu__panel__back" />
                                        <a data-gtm-event="nav header"
                                           class="mobile-navigation__menu__panel__header__title"
                                           href="paintings.html">
                                            @item.Name
                                        </a>
                                    </div>
                                    <div class="mobile-navigation__menu__panel__image-container">
                                        <a data-gtm-event="nav header"
                                           href="art-collection/Painting/Featured-Paintings/685448/191300/view.html"
                                           class="mobile-navigation__menu__panel__image"
                                           style="background-image: url(/Content/Images/300x300.jpg)">
                                            <div class="mobile-navigation__menu__panel__image__title">
                                                Featured @item.Name
                                            </div>
                                        </a>
                                    </div>

                                    <div>
                                        <a data-gtm-event="nav header"
                                           class="mobile-navigation__site-link mobile-navigation__site-link--section-header">
                                            Style
                                        </a>

                                        @foreach (var style in item.FavStyles)
                                        {
                                            <a data-gtm-event="nav header"
                                               href="paintings/fine-art.html"
                                               class="mobile-navigation__site-link">
                                               @style.Name
                                            </a>
                                        }
                                    </div>
                                    <div>
                                        <a data-gtm-event="nav header"
                                           class="mobile-navigation__site-link mobile-navigation__site-link--section-header">
                                            Subject
                                        </a>

                                        @foreach (var subject in item.FavStyles)
                                        {
                                            <a data-gtm-event="nav header"
                                               href="paintings/portrait.html"
                                               class="mobile-navigation__site-link">
                                                @subject.Name
                                            </a>
                                        }
                                    </div>
                                    <div>
                                        <a data-gtm-event="nav header"
                                           class="mobile-navigation__site-link mobile-navigation__site-link--section-header">
                                            Medium
                                        </a>

                                        @foreach (var medium in item.FavStyles)
                                        {
                                            <a data-gtm-event="nav header"
                                               href="paintings/oil.html"
                                               class="mobile-navigation__site-link">
                                                @medium.Name
                                            </a>
                                        }
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-navigation__header">
            <div class="mobile-navigation__header__left">
                <a data-gtm-event="nav header" href="index.html" class="navigation__logo navigation__logo--saatchiart"><img src="http://d3t95n9c6zzriw.cloudfront.net/navigation/saatchi-art-icon.svg" /></a>
            </div>
            <div class="mobile-navigation__header__right">
                <img class="mobile-navigation__search-trigger" src="https://d3t95n9c6zzriw.cloudfront.net/navigation/mag-glass.svg" />
                <a data-gtm-event="nav header" href="authentication.html" class="navigation__favorite-link">
                    <svg viewBox="0 0 23 20" xmlns="http://www.w3.org/2000/svg"><path d="M22 6.54C22 3.48 19.38 1 16.16 1c-1.9 0-3.6.86-4.66 2.2A5.95 5.95 0 0 0 6.84 1C3.62 1 1 3.48 1 6.54c0 1.31.48 2.51 1.28 3.46l9.23 10 9.2-10A5.34 5.34 0 0 0 22 6.54z" stroke="#221F20" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </a>
                <a data-gtm-event="nav header" href="https://www.saatchiart.com/checkout" class="navigation__cart-link">
                    <div class="navigation__cart-link__count"></div>
                    <img src="https://d3t95n9c6zzriw.cloudfront.net/navigation/cart.svg" />
                </a>
            </div>
        </div>
        <form action="https://www.saatchiart.com/all" class="mobile-navigation__search-container">
            <div class="mobile-navigation__search-container__background"></div>
            <svg class="mobile-navigation__search-container__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 21"><g fill="none" fill-rule="evenodd"><rect width="8.903" height="1.25" x="14.747" y="17.027" fill="#333" rx=".625" transform="rotate(45 19.198 17.652)"></rect><ellipse cx="9.274" cy="9.073" stroke="#333" rx="8.774" ry="8.573"></ellipse></g></svg>
            <input class="mobile-navigation__search-container__input" name="query" autocomplete="off" value="" />
            <div class="mobile-navigation__search-type-indicator">
                <div class="mobile-navigation__search-type-indicator__text">
                    <span>Art</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"><g fill="none" fill-rule="evenodd" stroke="#333" stroke-linecap="square"><path d="M1 0l7.071 7.071M8.5 7.5l7-7"></path></g></svg>
                </div>
                <select class="mobile-navigation__search-type-selector">
                    <option value="art">Art</option>
                    <option value="artist">Artist</option>
                    <option value="collection">Collection</option>
                </select>
            </div>
            <svg class="mobile-navigation__search-container__cancel" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><g stroke="#000" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1 0l20 20M21 0L1 20"></path></g></svg>
        </form>
    </div>
</header>
