@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()


    }

    <div class="desktop-navigation__account-nav">
        <div class="desktop-navigation__account-nav__header">
            @ViewBag.fullName
        </div>

        <div class="desktop-navigation__account-nav__dropdown">
            <a data-gtm-event="nav header" href="/profile" title="Profile">@ShareRes.Profile</a>
            <a data-gtm-event="nav header" href="/accountInfo/index" title="Account Information">@ShareRes.AccountInformation</a>
            <a data-gtm-event="nav header" href="/profile/favorites" title="Favorites">@ShareRes.Favorites</a>
            <a data-gtm-event="nav header" href="/profile/collection" title="Collections">@ShareRes.Collections</a>
            <a data-gtm-event="nav header" href="/accounts/orders" title="Orders">@ShareRes.Orders</a>
            <a data-gtm-event="nav header" href="/upload/index" title="Upload">@ShareRes.Upload</a>
            <a data-gtm-event="nav header" href="/profile/artworks" title="Artworks">@ShareRes.Artworks</a>
            <a data-gtm-event="nav header" href="/accounts/items" title="Sales Dashboard">@ShareRes.SalesDashboard</a>
            <a data-gtm-event="nav header" href="javascript:document.getElementById('logoutForm').submit()" title="Logout">@ShareRes.Logout</a>
        </div>

        @*<div class="desktop-navigation__authentication-links__item">
                <a data-gtm-event="nav header" href="javascript:document.getElementById('logoutForm').submit()" title="Register">Log off</a>
            </div>*@
    </div>
}
else
{
    <div class="desktop-navigation__authentication-links">
        <div class="desktop-navigation__authentication-links__item" style="color:white">
            <a data-gtm-event="nav header" href="/account/login" style="color:white" title="Sign In">@ShareRes.SignIn</a>
        </div>
        <div class="desktop-navigation__authentication-links__item">
            <a data-gtm-event="nav header" href="/account/register" style="color:white" title="Register">@ShareRes.Register</a>
        </div>
    </div>
}
