@model FirstPageSection
@using DataLayer.Extentions

<div class="row">
    <div class="small-12 columns">
        <h2 class="section-title mt0">Art Selected by our Curators</h2>
        <div class="section-details">Discover new original artwork from around the world</div>
    </div>
</div>
<div class="row">
    <ul class="item-list">
        <li class="list-item feature">
            <div class="feature-image">
                <a href="/products/single/@Model.param1" title="See What's New This Week		">
                    <img src="@ViewBag.pic1" alt="New This Week	">
                </a>
            </div>
            <div class="row feature-meta" style="height:auto">
                <h3 class="feature-title ellipsis">
                    <a href="/products/single/@Model.param1">
                        @Model.Current().title
                    </a>
                </h3>
                <span class="feature-subtitle ellipsis">
                    <a href="/products/single/@Model.param1">
                        @Model.Current().desc1
                    </a>
                </span>
            </div>
        </li>
        <li class="list-item feature">
            <div class="feature-image">
                <a href="/products/single/@Model.param2" title="Artiscovery Catalog">
                    <img src="@ViewBag.pic2" alt="New This Week	">
                </a>
            </div>
            <div class="row feature-meta" style="height:auto">
                <h3 class="feature-title ellipsis">
                    <a href="/products/single/@Model.param1">
                        @Model.Current().title2
                    </a>
                </h3>
                <span class="feature-subtitle ellipsis">
                    <a href="/products/single/@Model.param1">
                        @Model.Current().desc2
                    </a>
                </span>
            </div>
        </li>
        <li class="list-item feature">
            <div class="feature-image">
                <a href="/products/single/@Model.param3" title="Invest In Art: Spring 2017">
                    <img src="@ViewBag.pic3" alt="New This Week	">
                </a>
            </div>
            <div class="row feature-meta" style="height:auto">
                <h3 class="feature-title ellipsis">
                    <a href="/products/single/@Model.param1">
                        @Model.Current().title3
                    </a>
                </h3>
                <span class="feature-subtitle ellipsis">
                    <a href="/products/single/@Model.param1">
                        @Model.Current().desc13
                    </a>
                </span>
            </div>
        </li>
    </ul>
</div>
